<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">

    <!-- Bootstrap CSS minified -->
    <link rel="stylesheet" href="css/bootstrap-flex.min.css">

    <!-- App stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>

  <body>
    <div class="container mt-3">

      {{{body}}}

    </div>
  </body>

</html>
