<div class="row">
</div>

<div class="row dark-bkg">
    <div class="col-md-12 quick-links">
        {{> components/card}}
        {{> components/card}}
        {{> components/card}}
        {{> components/card}}
    </div>
<div>
    