@import ../mixins

.dark-bkg
    background-color: rgb(31, 34, 37)

.quick-links
    width: 80%
    margin: 0 auto
    height: 200px
    display: flex
    justify-content: center

.card
    +apply-gradient(#e2678f, #fdb88f)
    border: none
    color: #fff
    margin: 15px
    padding: 15px
