.card
    //TODO: Convert to mixin
    background: -webkit-linear-gradient(left top, #e2678f , #fdb88f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(left top, #e2678f , #fdb88f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none
    padding: 15px