<div class="card card-block">
    <h4 class="card-title">{{{title}}}</h4>
    <p class="card-text">{{{content}}}</p>
    <p class="card-text">
        <small class="text-muted">Last updated {{{updated-at}}}</small>
    </p>
</div>