<div class="card card-block">
    <h3 class="card-title">Campus Events</h3>
    <div class="card-block">
        <h4>End of B Term</h4>
        <p>It is the end of b term</p>

        <h4>End of B Term</h4>
        <p>It is the end of b term</p>

        <h4>End of B Term</h4>
        <p>It is the end of b term</p>
    </div>
<a href="#" class="btn btn-primary">Go somewhere</a>
</div>