<div class="card card-block">
  <div class="twitter-wrapper">
    <script src="js/widgets.js" type="text/javascript"></script>
    <a class="twitter-timeline" href="https://twitter.com/santiagosada/lists/wpi-accounts">A Twitter List by santiagosada</a>
  </div>
</div>
