<div class="card card-block">
  <a class="twitter-timeline" href="https://twitter.com/santiagosada/lists/wpi-accounts">A Twitter List by santiagosada</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
