<div class="hero">
  {{> navbar}}

  {{!-- TODO: Replace this with a good looking search --}}
  <div class="row">
    <div class="search col-md-6">
      <input id="search" type="text" class="form-control" data-provide="typeahead"
      autocomplete="off" placeholder="Search for something...">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-sm-12 masonry">
    <div class="card-columns">
      {{> cards/events-card}}
      {{> cards/weather-card}}
      {{> cards/twitter-card}}
      {{#each cards}}
          {{> cards/card}}
      {{/each}}
    </div>
  </div>
</div>
